body{
    padding: 7%;
}

#middleNavbar .navbar-brand{
    font-size: 130%;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.background{
    background-color: rgb(227, 111, 111);
    padding-left: 10px; 
    padding-right: 10px;
}

.recipes{
    background-color: lightcoral;
}

.margin{
    margin-left: 10%;
}

.margin2{
    margin-left: 0%;
}

.margin3{
    margin-top: 3%;
}

.margin4{
    margin-right: 0%;
}

.textSm{
    font-size: 80%;
}

.imgBig{
    width: 10%;
}